/* custom property */
:root {
	--accent-color: #800000;  /* could also be coded #800 */
}

/* default styles */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 80%;
    margin: auto;
    border:2px, var(--accent-color);
    border-bottom:2px, var(--accent-color);

}

a:hover, a:focus{
	font-style: italic;
	color: var(--accent-color);
}
h1 {
	font-size: 150%;

h2 {
	font-size: 130%;
	color: var(--accent-color);
}
h3 {
	font-size: 105%;
}

/* the styles for the header */
header {

    border: 2px solid var(--accent-color);

	& h2 {
		font-size: 175%;
        padding-bottom: 0;

	}
	& h3 {
		font-size: 130%;
		font-style: italic;
        padding-bottom: 1em;

	}
	& img {
		float: left;
        margin-top:0.75em;
        margin-bottom:0.75em;
        margin-left: 1em;
        margin-right: 1em;
	}
}

/* the styles for the main content */
main {
	clear: left;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
}

/* the styles for the footer */
footer{
    background-color: var(--accent-color);
	& p {
		text-align: center;
        color: white;
        padding-top: 1em;
        padding-bottom: 1em;
	}
}

/* CSS class */
.large {
    font-size: 125%;
}}

*ol, p, ul{
    padding:0.5em;
}

*ul{
    margin-left:2em;
}

